<ion-toolbar>
  <mat-toolbar>
    <ion-icon mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </ion-icon>
   <span>My App</span>
   <span class="example-spacer"></span>
   <ion-button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </ion-button>
   <ion-button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </ion-button>
  </mat-toolbar>
</ion-toolbar>
